<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
  <title> {{shop_name}} - Admin Page </title>

  <!-- General CSS Files -->
  <link rel="stylesheet" href="/static/admin/assets/modules/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/admin/assets/modules/fontawesome/css/all.min.css">

  <!-- CSS Libraries -->
  <link rel="stylesheet" href="/static/admin/assets/modules/jqvmap/dist/jqvmap.min.css">
  <link rel="stylesheet" href="/static/admin/assets/modules/summernote/summernote-bs4.css">
  <link rel="stylesheet"
    href="/static/admin/assets/modules/owlcarousel2/dist//static/admin/assets/owl.carousel.min.css">
  <link rel="stylesheet"
    href="/static/admin/assets/modules/owlcarousel2/dist//static/admin/assets/owl.theme.default.min.css">

  <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css" rel="stylesheet">

  <!-- Template CSS -->
  <link rel="stylesheet" href="/static/admin/assets/css/style.css">
  <link rel="stylesheet" href="/static/admin/assets/css/components.css">
  <!-- Start GA -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-94034622-3"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'UA-94034622-3');
  </script>
  <!-- /END GA -->
</head>

<body class="dark-theme">
  <div id="app">
    <div class="main-wrapper main-wrapper-1">
      <div class="navbar-bg"></div>
      <nav class="navbar navbar-expand-lg main-navbar">
        <form class="form-inline mr-auto">
          <ul class="navbar-nav mr-3">
            <li><a href="#" data-toggle="sidebar" class="nav-link nav-link-lg"><i class="fas fa-bars"></i></a></li>
          </ul>
        </form>
        <ul class="navbar-nav navbar-right">
          <li class="dropdown"><a href="#" data-toggle="dropdown"
              class="nav-link dropdown-toggle nav-link-lg nav-link-user">
              <img alt="image" src="/static/admin/assets/img/avatar/avatar-1.png" class="rounded-circle mr-1">
              <div class="d-sm-none d-lg-inline-block">어서오세요, {{shop_name}} 사장님!</div>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
              <a href="/{{shop_name}}" class="dropdown-item has-icon">
                <i class="far fa-moon"></i> 자판기로 돌아가기
              </a>
              <div class="dropdown-divider"></div>
              <a href="/{{shop_name}}/logout" class="dropdown-item has-icon text-danger">
                <i class="fas fa-sign-out-alt"></i> 로그아웃
              </a>
            </div>
          </li>
        </ul>
      </nav>
      <div class="main-sidebar sidebar-style-2">
        <aside id="sidebar-wrapper">
          <div class="sidebar-brand">
            <a href="/{{shop_name}}/admin/admin_home">{{shop_name}} - Admin </a>
          </div>
          <ul class="sidebar-menu">
            <li class="dropdown" onclick="location.href='/{{shop_name}}/admin/admin_home'">
              <a href="/{{shop_name}}/admin/admin_home" class="nav-link"><i class="fas fa-fire"></i><span>홈</span></a>
            </li>
            <li class="menu-header">Setting</li>
            <li class="dropdown" onclick="location.href='/{{shop_name}}/admin/admin_general'">
              <a href="/{{shop_name}}/admin/admin_general" class="nav-link" data-toggle="dropdown"><i
                  class="fas fa-columns"></i>
                <span>기본설정</span></a>
            </li>
            <li class="dropdown active" onclick="location.href='/{{shop_name}}/admin/admin_user_setting'">
              <a href="/{{shop_name}}/admin/admin_user_setting" class="nav-link" data-toggle="dropdown"><i
                  class="fas fa-user"></i>
                <span>유저관리</span></a>
            </li>
            <li class="dropdown" onclick="location.href='/{{shop_name}}/admin/category_setting'">
              <a href="/{{shop_name}}/admin/category_setting" class="nav-link" data-toggle="dropdown"><i
                  class="fas fa-list"></i>
                <span>카테고리 관리</span></a>
            </li>
            <li class="dropdown" onclick="location.href='/{{shop_name}}/admin/admin_product_setting'">
              <a href="/{{shop_name}}/admin/admin_product_setting" class="nav-link" data-toggle="dropdown"><i
                  class="fas fa-dot-circle"></i>
                <span>상품관리</span></a>
            </li>
            <li class="dropdown" onclick="location.href='/{{shop_name}}/admin/admin_charge_setting'">
              <a href="/{{shop_name}}/admin/admin_charge_setting" class="nav-link" data-toggle="dropdown"><i
                  class="fas fa-credit-card"></i>
                <span>충전관리</span></a>
            </li>

            <li class="menu-header">LOG</li>
            <li class="dropdown" onclick="location.href='/{{shop_name}}/admin/admin_user_buy_log'">
              <a href="/{{shop_name}}/admin/admin_user_buy_log" class="nav-link" data-toggle="dropdown"><i
                  class="fas fa-moon"></i>
                <span> 구매로그</span></a>
            </li>

            <li class="menu-header">ETC</li>
            <li class="dropdown" onclick="location.href='/{{shop_name}}/admin/admin_link_setting'">
              <a href="/{{shop_name}}/admin/admin_link_setting" class="nav-link" data-toggle="dropdown"><i
                  class="fas fa-link"></i>
                <span> 하이퍼링크 관리 </span></a>
            </li>
          </ul>
        </aside>
      </div>

      <!-- Main Content -->
      <div class="main-content">
        <section class="section dark-theme">
          <div class="section-header">
            <h1>어드민 페이지 - 유저관리</h1>
          </div>
          <div class="card-footer text-right dark-theme-gray">
            <button class="btn btn-primary" style="padding-left:20px; padding-right:20px; margin-bottom: 10px;"
              onclick="user_moonsang_zero()">문화삼품권 충전실패 횟수 초기화</button>
            <button class="btn btn-primary" style="width: 150px; margin-bottom: 10px;"
              onclick="admin_save()">적용하기</button>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-header">
                  <h4>상세 유저관리</h4>
                </div>
                <div class="card-body">
                  <div class="form-group">
                    <label>아이디</label>
                    <input type="text" class="form-control" name="user_id" id="user_id" value="{{users[0]}}" disabled>
                    <br>
                    <label>잔액 관리</label>
                    <input type="number" class="form-control" name="user_money_setting" id="user_money_setting"
                      value="{{users[4]|int}}">
                    <br>
                    <label>밴 여부</label>

                    {% if users[9] == 0 %}
                    <select class="form-control" name="user_ban_setting" id="user_ban_setting">
                      <option value="False" selected>언밴</option>
                      <option value="True">밴</option>
                    </select>
                    {% else %}
                    <select class="form-control" name="user_ban_setting" id="user_ban_setting">
                      <option value="False">언밴</option>
                      <option value="True" selected>밴</option>
                    </select>
                    {% endif %}

                    <br>
                    <label>문화상품권 충전 실패 횟수</label>
                    <input type="number" class="form-control" name="user_moonsang_decline" id="user_moonsang_decline"
                      value="{{users[8]}}" disabled>
                    <br>

                    {% if users[3] == "리셀러" %}
                    <div class="form-check">
                      <input class="form-check-input" name="reseller_role" type="checkbox" checked>
                      <label class="form-check-label">
                        리셀러 권한 부여
                      </label>
                    </div>
                    {% else %}
                    <div class="form-check">
                      <input class="form-check-input" name="reseller_role" type="checkbox">
                      <label class="form-check-label">
                        리셀러 권한 부여
                      </label>
                    </div>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
      <footer class="main-footer">
        <div class="footer-left">
          Copyright &copy; 2024 Stone TEAM.
        </div>
        <div class="footer-right">

        </div>
      </footer>
    </div>
  </div>

  <script>
    function user_moonsang_zero() {
      Swal.fire({
        title: '문화삼품권 충전실패를 초기화 하시겠습니까?',
        text: "계속하시면 유저가 문화상품권 충전을 할 수 있습니다!",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: '계속하기',
        cancelButtonText: '취소하기'
      }).then((result) => {
          if (result.isConfirmed) {
            location.href='/{{shop_name}}/admin/user_moonsang_zero/{{users[0]}}'
          }
        })
      }

      function admin_save() {
        var user_id = document.querySelector("#user_id").value
        var user_money = document.querySelector("#user_money_setting").value
        var is_ban = document.querySelector("#user_ban_setting").value

        var is_reseller = $('input:checkbox[name="reseller_role"]').is(':checked');

        Swal.fire({
          title: '저장 하시겠습니까?',
          text: "저장하시면 기존 설정은 모두 삭제됩니다!",
          icon: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#3085d6',
          cancelButtonColor: '#d33',
          confirmButtonText: '저장하기',
          cancelButtonText: '취소하기'
        }).then((result) => {
          if (result.isConfirmed) {
            $.ajax({
              url: "/{{shop_name}}/admin/admin_user_setting_detail_save",
              type: "post",
              data: {
                user_id: user_id,
                user_money: user_money,
                is_ban: is_ban,
                is_reseller: is_reseller
              },
            }).done(function (data) {
              if (data == "ok") {
                Swal.fire({
                  icon: 'success',
                  title: '저장 성공!',
                  text: '성공적으로 저장되었습니다!'
                })
              } else {
                Swal.fire(
                  '저장 실패!',
                  data,
                  'error'
                );
              }
            })
          }
        })
      }
  </script>

  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>

  <!-- General JS Scripts -->
  <script src="/static/admin/assets/modules/popper.js"></script>
  <script src="/static/admin/assets/modules/tooltip.js"></script>
  <script src="/static/admin/assets/modules/bootstrap/js/bootstrap.min.js"></script>
  <script src="/static/admin/assets/modules/moment.min.js"></script>
  <script src="/static/admin/assets/js/stisla.js"></script>

  <!-- JS Libraies -->
  <script src="/static/admin/assets/modules/chart.min.js"></script>
  <script src="/static/admin/assets/modules/owlcarousel2/dist/owl.carousel.min.js"></script>
  <script src="/static/admin/assets/modules/summernote/summernote-bs4.js"></script>

  <script src="/static/admin/assets/modules/jquery.min.js"></script>
  <script src="/static/admin/assets/modules/nicescroll/jquery.nicescroll.min.js"></script>
  <script src="/static/admin/assets/modules/jquery.sparkline.min.js"></script>
  <script src="/static/admin/assets/modules/chocolat/dist/js/jquery.chocolat.min.js"></script>

  <!-- Page Specific JS File -->
  <script src="/static/admin/assets/js/page/index.js"></script>
  <script src="/static/admin/assets/modules/nicescroll/jquery.nicescroll.min.js"></script>

  <!-- Template JS File -->
  <script src="/static/admin/assets/js/scripts.js"></script>
  <script src="/static/admin/assets/js/custom.js"></script>
</body>

</html>