<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <title>CodeStone 가이드</title>
        <link rel="stylesheet" href="../static/css/document.css">
    </head>
    <body>
        <h1>CodeStone 가이드</h1>
        <br><br>
        <p>1. 관리자에게 문의후 라이센스코드를 구매한다.<br>
            2. 메인페이지로 이동후 쇼핑몰생성을 누른다.<br>
            3. 쇼핑몰이름, 관리자 아이디 비밀번호, 라이센스코드등 입력후 생성한다.<br>
            4. "https://stonecl.kr/쇼핑몰이름" 으로 접속후 생성한 관리자계정으로 로그인한다.<br>
            5. 관리자 페이지에 들어가서 재고를 충전하거나 여러가지 설정을 하고 이용하면된다.
        </p>
        <button class='my_btn' onclick="window.location.href = 'https://stonecl.kr/';">home</button>
    </body>
</html>