<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8">
    <title>홈 | Code Stone</title>
    <link rel="stylesheet" type="text/css" href="../static/css/home.css">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3198334402929861" crossorigin="anonymous"></script>
  </head>
  <body style="background-image: url(../static/assets/img/backgrounds/home.jpg);">
    <header>
      <div class="logo-container">
        <h1>Code Stone</h1>
      </div>
      <nav>
        <ul>
          <li><a href="/guide">사용법</a></li>
          <li><a href="https://discord.gg/JxzhpUp49n">디스코드</a></li>
          <li><a href="/create">쇼핑몰생성</a></li>
        </ul>
      </nav>
    </header>
    <br>
    <br>
    <section id="texts">
      <div class="text">
        <h2 class="text_1">쇼핑을 편리하게 만들다</h2>
        <p class="text_2">Code Stone</p>
      </div>
    </section>
    <footer>
      <div class="left">
        ©2024 Code Stone.
        <p style="font-size: 10px;">상호 : 투모로우데이즈 | 대표 : 최시후<br>
          주소 : 인천광역시 서구 도요지로 231, 1동 503호<br>
          개인정보관리 책임자 : 박건희[코드스톤사업부서장] (block7167@gmail.com)<br>
          사업자등록번호 : 339-43-01770 | 통신판매업 신고 : 제 2024 인천서구 - 0000호 <a style="color: blue;" href="../static/assets/img/illustrations/buisness.png">[사업자 정보 확인]</a></p>
      </div>
      <div class="right">
        <p>
          <a href="/support">고객 지원</a><br>
          <a href="/tos">이용약관</a><br>
          <a href="/privacy">개인정보 처리방침</a>
        </p>
      </div>
    </footer>
    <!--<script src="script.js"></script>-->
  </body>
</html>