<!DOCTYPE html>
<html lang="en">

<head>
    <title> {{shop_name}} </title>

    <link rel="stylesheet" href="/static/css/theme.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css">
    <link rel="stylesheet" href="/static/css/player.css">

    <script src="https://code.jquery.com/jquery-1.12.4.min.js" type="text/javascript"></script>
    <script src="/static/js/player.js" type="text/javascript"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('.listen')[0].volume = 0.1;
            $('.listen')[0].currentTime = getCookie('currentTime');

            $('.mediPlayer').mediaPlayer();
            setTimeout(() => {
                $('.controls').click();
            }, 1);
        });
    </script>

    <script src="/static/js/block_debug.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css">

    <script type="text/javascript">
        var filter = "win16|win32|win64|mac";
        if (navigator.platform) {
            if (0 > filter.indexOf(navigator.platform.toLowerCase())) {} else {
                devtoolsDetector.addListener(function (isOpen, detail) {
                    if (isOpen) {
                        swal.fire(
                            "개발자 도구 감지",
                            '개발자 도구가 감지 되었습니다.',
                            "error"
                        );
                        window.location.href = `http://warning.or.kr`
                        return;
                    }
                });
                devtoolsDetector.lanuch();
            }
        }
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(document).bind('keydown', function (e) {
                if (e.keyCode == 123) {
                    e.preventDefault();
                    e.returnValue = false;
                }
            });
        });
    </script>
</head>

<body>
    <div class="mediPlayer">
        <audio class="listen" preload="none" autoplay="" loop="" data-size="75"
            ontimeupdate="setCookie('currentTime', $('.listen')[0].currentTime);" id="audio0">
            <source src="{{server_info[12]}}">
        </audio>
    </div>
    <div class="container">
        <div class="sidebar">
            <div class="logo">
                {{logo}}
            </div>
            <div class="user-controle-bar">
                <div class="user_id">
                    <p> {{session["id"]}} </p>
                </div>
                <div class="user_point">
                    <p> {{user_info[4]}} P </p>
                </div>
            </div>
            <div class="menu">
                <div class="menu-item">
                    <a href="/{{shop_name}}">
                        <i class="bi bi-bookmark"></i>
                        · 홈
                    </a>
                </div>
                <div class="menu-item">
                    <a href="/{{shop_name}}/charge">
                        <i class="bi bi-battery-charging"></i>
                        · 충전
                    </a>
                </div>
                <div class="menu-item">
                    <a href="/{{shop_name}}/item">
                        <i class="bi bi-wallet"></i>
                        · 제품상점
                    </a>
                </div>
                <div class="menu-item">
                    <a href="/{{shop_name}}/my_profile">
                        <i class="bi bi-person-fill"></i>
                        · 내 정보
                    </a>
                </div>
                <div class="menu-item">
                    <a href="/{{shop_name}}/buylog">
                        <i class="bi bi-bag"></i>
                        · 구매로그
                    </a>
                </div>
                {% if user_info[7] == 1 %}
                <div class="menu-item">
                    <a href="/{{shop_name}}/admin/admin_home">
                        <i class="bi bi-key"></i>
                        · 관리자
                    </a>
                </div>
                {% else %}

                {% endif %}

            </div>
        </div>
        <div class="navbar">
            <a href="/{{shop_name}}" class="shop-title">
                <h2> {{shop_name}} </h2>
            </a>
            <div class="logout">
                <button class="red_btn" onclick="location.href='/{{shop_name}}/logout'"><i
                        class="bi bi-box-arrow-right"></i> 로그아웃</button>
            </div>
        </div>
        <div class="content">
            <span> {{shop_name}} > 내 정보 </span>

            <div class="my_profile" style="max-width: 1170px; margin-bottom: 30px; position: relative;">
                <p class="profile-text"> {{session['id']}} 님의 프로필 </p>

                <div class="my_info">
                    <div class="my_info_card">
                        <div class="card-title">
                            아이디
                        </div>
                        <div class="card-text">
                            {{session['id']}}
                        </div>
                    </div>
                    <div class="my_info_card">
                        <div class="card-title">
                            포인트
                        </div>
                        <div class="card-text">
                            {{user_info[4]}} P
                        </div>
                    </div>
                    <div class="my_info_card">
                        <div class="card-title">
                            역할
                        </div>
                        <div class="card-text">
                            {{user_info[3]}}
                        </div>
                    </div>
                </div>
                <div class="my_profile_edit">
                    <h1> 비밀번호 변경하기 </h1>

                    <div class="form-item">
                        <input type="password" name="before_pw" id="before_pw" placeholder="변경전 비밀번호"
                            style="width: 95%;">
                    </div>
                    <div class="form-item">
                        <input type="password" name="after_pw" id="after_pw" placeholder="변경할 비밀번호" style="width: 95%;">
                    </div>
                    <div class="form-item">
                        <input type="password" name="after_pw_re" id="after_pw_re" placeholder="변경전 비밀번호 확인"
                            style="width: 95%;">
                    </div>
                    <button class="pw-change-btn" onclick="change_password()"> 변경하기 </button>
                </div>
                <div class="my_bylog" style="width: 97%; margin-top: 80px;">
                    <div class="table-card">
                        <table>
                            <thead>
                                <tr>
                                    <th> 구매한 일시 </th>
                                    <th> 구매한 제품 </th>
                                    <th> 구매한 코드 </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for buylog in buylogs %}
                                <tr class="columns">
                                    <td style="vertical-align: middle;"> {{buylog[0]}} </td>
                                    <td style="vertical-align: middle;"> {{buylog[1]}} </td>
                                    <td style="vertical-align: middle;"> {{buylog[2]|replace("\n","<br />")|safe}} </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <script>
                function change_password() {
                    before_pw = document.querySelector("#before_pw").value;
                    after_pw = document.querySelector("#after_pw").value;
                    after_pw_re = document.querySelector("#after_pw_re").value;

                    $.ajax({
                        url: "/{{shop_name}}/change_pw",
                        type: "post",
                        data: {
                            before_pw: before_pw,
                            after_pw: after_pw,
                            after_pw_re: after_pw_re
                        },
                    }).done(function (data) {
                        if (data == ("success")) {
                            toastr.success("비밀번호가 성공적으로 변경되었습니다!");
                        } else {
                            toastr.error(data);
                        }
                    })
                }
            </script>
            <!-- Channel Plugin Scripts -->
            <script>
                (function () {
                    var w = window;
                    if (w.ChannelIO) {
                        return (window.console.error || window.console.log || function () {})(
                            'ChannelIO script included twice.');
                    }
                    var ch = function () {
                        ch.c(arguments);
                    };
                    ch.q = [];
                    ch.c = function (args) {
                        ch.q.push(args);
                    };
                    w.ChannelIO = ch;

                    function l() {
                        if (w.ChannelIOInitialized) {
                            return;
                        }
                        w.ChannelIOInitialized = true;
                        var s = document.createElement('script');
                        s.type = 'text/javascript';
                        s.async = true;
                        s.src = 'https://cdn.channel.io/plugin/ch-plugin-web.js';
                        s.charset = 'UTF-8';
                        var x = document.getElementsByTagName('script')[0];
                        x.parentNode.insertBefore(s, x);
                    }
                    if (document.readyState === 'complete') {
                        l();
                    } else if (window.attachEvent) {
                        window.attachEvent('onload', l);
                    } else {
                        window.addEventListener('DOMContentLoaded', l, false);
                        window.addEventListener('load', l, false);
                    }
                })();
                ChannelIO('boot', {
                    "pluginKey": "{{server_info[13]}}"
                });
            </script>
            <!-- End Channel Plugin -->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
        </div>
    </div>
</body>

</html>