<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <title>Code Stone 개인정보처리빙침</title>
        <link rel="stylesheet" href="../static/css/document.css">
    </head>
    <body>
        <h1>Code Stone 개인정보처리방침</h1>
        <br><br>
        <p><b>개인정보 수집</b><br>
            저희 회사는 좋은 품질의 서비스 제공을 위한 필요 최소한의 개인정보를 수집합니다.<br>
            회원 가입 시 또는 서비스 이용 과정에서 홈페이지 또는 개별 어플리케이션이나<br>
            프로그램 등을 통해 서비스 제공을 위해 필요 최소한의 개인정보를 수집하고 있습니다.
            <br>
            서비스 제공을 위해 반드시 필요한 최소한의 정보를 필수항목으로,<br>
            그 외 특화된 서비스를 제공하기 위해 추가 수집하는 정보는 선택항목으로 동의를 받고 있으며,<br>
            선택항목에 동의하지 않은 경우에도 서비스 이용 제한은 없습니다.
            <br><br>
            [쇼핑몰 가입 시]
            필수
            전화번호, 아이디, 비밀번호, 서비스 이용내역, 서비스 내 구매 및 결제 내역, 서비스 이용 기록
            <br><br>
            [결제시]
            계좌이체 시: 예금주명, 계좌번호, 계좌은행 등
            상품권 이용 시: 상품권 번호, 해당 사이트 아이디
            <br><br>
            [환불처리 시]
            계좌은행, 계좌번호, 예금주명, 이메일(선택), 전화번호
            <br><br>
            [고객상담 시]
            코드스톤은 투모로우데이즈 통합고객지원센터에서 고객지원이 가능함으로 코드스톤 서비스정보를 투모로우데이즈에게 제공이 가능하다.
            고객센터로 문의 및 상담 시 상담 처리를 위한 추가적인 정보를 수집할 수 있습니다.
            <br><br>
            서비스 이용 과정에서 이용자로부터 수집하는 개인정보는 아래와 같습니다.<br>
            PC웹, 모바일 웹 이용 과정에서 단말기정보(OS, 화면사이즈),<br>
            IP주소, 쿠키, 방문일시, 부정이용기록, 서비스 이용 기록 등의 정보가 자동으로 생성되어 수집될 수 있습니다.
            <br><br>
            <b>개인정보 양도 및 제공</b><br>
            Code Stone는 이용자의 별도 동의가 있거나 법령에 규정된 경우를 제외하고는 이용자의 개인정보를 제3자에게 제공하지 않습니다.<br>
            Code Stone는 이용자의 사전 동의 없이 개인정보를 제3자에게 제공하지 않습니다.<br>
            다만, 이용중 법적문제가 발생했을 경우 사법기관, 공공기관, 정부, 관공서등 국가기관에서<br>
            정보제공을 요청했을 경우 Code Stone는 이용자의 동의 없이 정보를 제공 할수 있습니다.
            <br><br>
            <b>개인정보 및 데이터베이스 보관</b><br>
            Code Stone은 샵의 대표가 데이터 삭제를 요청할 경우 즉시 폐기합니다(샵 이용중 문제 발생 기록이 있는경우 데이터 폐기 불가)<br>
            다만, 샵 이용중 문제가 발생한 기록이 있는 샵은 데이터를 영구 보관하며 국가기관에서 요청시 데이터베이스를 제공할수 있습니다.<br>
            샵의 데이터는 계약이 종료된 샵의 계약종료일로 14일간 보관후 폐기됩니다.<br>
            데이터가 삭제될 경우 복구가 불가능합니다.<br>
            Code Stone의 서비스를 이용중 Code Stone측의 실수로 발생된 데이터 훼손사고가 발생한 경우 Code Stone 고객지원 보상센터에서 보상할 의무가 있습니다.
            <br><br>
            <b>제 3자 데이터 양도 및 제공</b><br>
            Code Stone의 서비스를 이용중 제 3자에게 데이터 양도 및 제공이 필요한 경우<br>
            Code Stone은 서비스정보를 모회사(투모로우데이즈)에게 제공하지 않고 법적문제가 발생하였을 경우 제공합니다<br>
            Code Stone는 이용자에게 동의를 받을 의무가 있으며 동의를 받지 않거나 제 3자에게 개인정보나 데이터가 유출될 경우<br>
            개인정보 보호법 제34조의 의해 처리된다.
            <br><br>
            <b>국외 개인정보 양도 및 제공</b><br>
            Code Stone의 서비스를 이용하는 이용자의 관한 국외(서비스지역<a href="#service_area" title="서비스지역 : 대한민국">[1]</a> 외 타국가) 사법기관이나 국가기관의<br>
            요청이 있을경우 국내 국가 기관에 신고후 국외 국가기관에 정보를 양도 및 제공 할수 있다.<br>
            [계좌 충전시]<br>
            만약 Code Stone 계좌로 충전된 금액이 해외에서 송금된거라면 문제 발생시 국외 금융기관에게 개인정보를 양도 및 제공이 가능하다.
            <br><br>
            <b>이용자 동의 없이 개인정보 양도 및 제공가능한 기관</b><br>
            국내.외 금융기관, 사법기관, 정부, 관공서, 공공기관, 국가기관<br>
            인증된 외부기관(통신사, 인증기관, 상품권회사, 메일회사, 기타 국내.외 사설인증기관)<br>
            위 기관, 회사에서 개인정보 양도 및 제공 요청시 Code Stone는 이용자의 동의 없이 개인정보를 제공할수 있다.
            <br><br>
            위 내용의 문제가 있거나 문의사항이 있을 경우 Code Stone 관계자(관리자, 운영자)에게 문의하면 수정이 가능하다.<br>
            위 내용을 미동의시 서비스 이용이 불가능하며 위 내용을 숙지하지 않고 문제가 생길경우 Code Stone 서비스 이용제한이 될수있습니다.
            <br><br>
            <button class='my_btn' onclick="window.location.href = 'https://stonecl.kr/';">home</button>
            <br><br>
            <hr>
            <div id="service_area">
                <p>#1 서비스지역 : 대한민국</p>
            </div>
        </p>
    </body>
</html>