<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <title>Code Stone 고객지원</title>
        <link rel="stylesheet" href="../static/css/support.css">
        <script src="../static/js/support.js"></script>
    </head>
    <body>
        <div class="header">
            <h1>Code Stone 고객지원</h1>
            <a href="http://pf.kakao.com/_UxbPxjG" target="_blank" title="카카오톡 채널">
            <img src="https://t1.kakaocdn.net/kakaocorp/kakaocorp/admin/5f9c58c2017800001.png" alt="카카오톡 아이콘">
            </a>
            <p style="font-size: 17.5px;"><b>Tel</b>&nbsp;010 - 7460 - 6675</p>
            <p style="font-size: 17.5px;"><b>Mail</b>&nbsp;block7167@gmail.com</p>
            <button class='my_btn' onclick="window.location.href = 'https://stonecl.kr/';">home</button>
        </div>
        <div class="faq">
            <h2>자주 묻는 질문</h2>
            <div class="q" onclick="QnA_1()">Q1.비밀번호를 잃어버렸어요!</div>
            <br>
            <div class="a" id="A_1">A.카카오톡 채널로 문의주시면 비밀번호 재설정을 도와드릴수 있습니다.<br>
                하지만, 본인의 계정이 맞는지 확인이 필요합니다.<br>
                등록된 전화번호나 본인의 계정임을 인증할수 있는 증거를 보내주시면 신속하게 도와드릴수 있습니다.<br>
                본인 계정이 인정되지 않는다면 Code Stone는 도와드릴수없습니다.</div>
            <div class="q" onclick="QnA_2()">Q2.쇼핑몰의 이름을 바꾸고 싶어요!</div>
            <br>
            <div class="a" id="A_2">A.쇼핑몰이름 변경은 카카오톡 채널로 양식에 맞춰 변경신청해주시면 됩니다.<br>
                신청양식<br>
                변경전 이름 :<br>
                변경후 이름 :<br>
                관리자 아이디 :<br>
                변경전 주소 : https://stonecl.kr/(주소)</div>
            <div class="q" onclick="QnA_3()">Q3.사기를 당했어요ㅠㅠ</div>
            <br>
            <div class="a" id="A_3">A.Code Stone 공식 샵이 아닌 Code Stone과 계약을 맺은 타샵에서 사기를 당하였다면<br>
                Code Stone는 샵을 호스팅하는 서비스 제공사이지 운영 당사자가 아니므로 사기금액을 돌려드릴수 없습니다.<br>
                Code Stone는 그 샵의 운영자에 대한 정보제공이 가능하며 그정보를 통해 직접 국가기관에 수사를 요청해야합니다.<br>
                샵 운영자에 대한 정보는 사기 피해자나 제 3자에게 제공해드릴수는 없고 국가기관을 통해 요청이 들어온다면<br>
                정보를 제공해드릴수 있습니다.<br>
                Code Stone는 조사후 사기피해가 확인되면 그 샵에 대한 서비스정지가 가능합니다.</div>
            <div class="q" onclick="QnA_4()">Q4.질문4</div>
            <br>
            <div class="a" id="A_4">A.답변4</div>
            <div class="q" onclick="QnA_5()">Q5.질문5</div>
            <br>
            <div class="a" id="A_5">A.답변5</div>
            <!-- 이하 질문과 답변을 필요한 만큼 추가 -->
            <br>
            <hr width="98%">
            <br>
            © Code Stone.
        </div>
    </body>
</html>